@model Learning.WebSite.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <p class="lead">Here are the classes.</p>
</div>

        
            <h2>Model.Classes</h2>
        
 
